.side-bar{
    position: fixed;
    left: 0px;
    top: 53px;
    width: 70px;
    bottom: 0;
    z-index: 4;
    background-color: white;
}

.sidebar-link{
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.sidebar-link:hover{
    background-color: rgb(246, 246, 246);
}

.sidebar-link img{
    height: 24px;
    margin-bottom: 4px;

}

.side-bar div{
    padding-top: 20px;
    font-family: Roboto , Arial;
    font-size: 10px;
}